{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Página</title>
    <!-- Referência ao arquivo CSS externo -->
    <link href='https://fonts.googleapis.com/css?family=Dancing Script' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>

    <header>
        <h1>History</h1>
    </header>

    <section>
        <h2>Seção Principal</h2>
        <p>Este é um exemplo básico de uma página HTML5.</p>
        <p>Você pode adicionar mais conteúdo aqui.</p>
    </section>

    <footer>
        <p>Onpprod - © 2023</p>
    </footer>

</body>
</html>
